altgraph==0.17
autopep8==1.5.4
et-xmlfile==1.0.1
flake8==3.8.4
importlib-metadata==3.4.0
jdcal==1.4.1
mccabe==0.6.1
numpy==1.19.5
openpyxl==3.0.6
pandas==1.2.1
pip==20.3.3
pycodestyle==2.6.0
pyflakes==2.2.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PySide2==5.15.2
python-dateutil==2.8.1
pytz==2020.5
setuptools==51.3.3
shiboken2==5.15.2
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.0
